/*
 * TODO: Change .form_row class to match class name in /item
 * TODO: Match layout of /item/item.css better
 */

TBODY A {
	font-weight: 900;
	text-decoration: none;
}

FIELDSET>FIELDSET {
 border: 0;
 display: inline-block;
 margin: 0;
 padding: 0;
 vertical-align: top;
}

LABEL {
 display: inline-block;
}

FIELDSET+FIELDSET {
 margin-left: 1em;
}

TABLE {
 border-collapse: separate;
 border-spacing: 0px;
 padding-top: .5em;
 width: 100%;
}

TBODY TD {
 border-bottom: 1px dashed #CCC;
}

TFOOT TD {
 padding-top: .5em;
}

TH {
 border-bottom: 1px solid #999;
}

UL {
 margin: 0em;
}

.form_row {
 height: 2em;
 line-height: 2em;
 vertical-align: baseline;
}

INPUT[type="date"] {
 text-align: right;
 width: 75px;
}

LABEL[for="addHeader_specials_posType_id"],
LABEL[for="updateHeader_specials_posType_id"] {
 width: 195px;
}
LABEL[for="addHeader_end_date"],
LABEL[for="addHeader_start_date"],
LABEL[for="updateHeader_end_date"],
LABEL[for="updateHeader_start_date"] {
	 width: 75px;
}